.slant
{
    
    height: 200px;
}
.slant-div
{
    position: absolute;
    top:0;
    left: 0;
    transform:skewY(5deg);
    z-index: -1;
    transform-origin: top left;
    height: 230px;
}
.header
{
    background-color: #64BAFC;
}

.header-icons
{
    font-size: 0.7em;
}
.header-text
{
    font-size: 0.7em


}
.chevron
{
    font-size: 0.4em;
}
 a:hover
{
    text-decoration: none;
    color: white;
}
.anchor
{
    color: white;
}
.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
.input-group
{
    background-color: white;
}
.btn-link
{
    font-weight: lighter;
    font-size: 0.8rem;
}
.cart
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5;
    padding-right: 0.1rem;
    background-color: orange;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/


.form-control::placeholder {
  font-size: 0.7rem;
  color: #aaa;
}